:root {
    --primary: #deb887;
    --secondary: #8fbc8f;
    --tertiary: #031005;
    --hover: #fab9af;

    --unit_px: 16px;
    --unit_percent: 1.5%;
}

body {
    background-color: var(--primary);
    font: var(--unit_px) Arial, sans-serif;
    color: var(--tertiary);
    margin: 0%;
}

header {
    background-color: var(--secondary);
    padding-top: var(--unit_percent);
    padding-bottom: var(--unit_percent);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--secondary);
    padding-top: var(--unit_percent);
    padding-bottom: var(--unit_percent);
}

nav {
    display: flex;
    flex-direction: row;
    gap: var(--unit_px);
}

a {
    text-decoration: none;
    color: var(--tertiary)
}

a:hover {
    color: var(--hover);
}

img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: calc(var(--unit_px) * 4);
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: var(--secondary);
    padding: var(--unit_percent);
    border-radius: var(--unit_px);
    box-shadow: 4px 4px;
}

.wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.content {
    display: flex;
    flex-direction: column;
    padding: var(--unit_percent);
    gap: var(--unit_px);
}

.header {
    display: flex;
    justify-content: space-between;
}

.format {
    display: flex;
    flex-direction: column;
    gap: calc(var(--unit_px) * 0.5);
}

.logo {
    width: 200px;
    height: 200px;
    object-fit: cover;
}