:root {
    --primary: #f3efe0;
    --secondary: #558b6e;
    --tertiary: #031005;
    --hover: #E76F51;

    --unit_px: 16px;
    --unit_percent: 1.5%;
}

@media (prefers-color-scheme: dark) {
    :root {
       --primary: #0c2a0a;
       --secondary: #3d6e55;
       --tertiary: #f9f9f9;
       --hover: #b0ef04;
       }
       #logo {
           width: 150px;
           height: 75px;
           object-fit: cover;
           filter: invert(100%)
       }
     }

body {
    background-color: var(--primary);
    font: var(--unit_px) Tahoma, sans-serif;
    color: var(--tertiary);
    margin: 0;
}

header {
    background-color: var(--secondary);
    padding-top: var(--unit_percent);
    padding-bottom: var(--unit_percent);
}

footer {
    width: 100%;
    background-color: var(--secondary);
    padding-top: var(--unit_percent);
    padding-bottom: var(--unit_percent);
}

a {
    text-decoration: none;
    color: var(--tertiary)
}

a:hover {
    color: var(--hover);
}

form {
    gap: calc(var(--unit_px) * 4);
    width: 40%;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: var(--secondary);
    padding: var(--unit_percent);
    border-radius: var(--unit_px);
    box-shadow: 4px 4px;
}

input[type="submit"] {
    font: var(--unit_px) 'Tahoma', sans-serif;
    font-size: 14px;
    border-radius: 7px;
    border: none;
    }

input[type="text"] {
    border: none;
    border-radius: 7px;
    padding-left: 5px;
    font: var(--unit_px) Tahoma, sans-serif;
    font-size: 14px;
}

input[type="password"] {
    border: none;
    border-radius: 7px;
    padding-left: 5px;
}

input[type="email"] {
    border: none;
    border-radius: 7px;
    padding-left: 5px;
}

input[type="date"] {
    border: none;
    border-radius: 7px;
    padding-left: 5px;
}

/* do not touch */
.flex {
    display: flex;
}

.gap {
    gap: var(--unit_px);
}

.gapSmall {
    gap: calc(var(--unit_px) * 0.5);
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.between {
    justify-content: space-between;
}

.paddingPercent {
    padding: var(--unit_percent);
}

.paddingPx {
    padding: var(--unit_px);
}

.paddingPxSmall {
    padding: calc(var(--unit_px) * 0.5);
}

.paddingCustom {
    padding: 10px 20px;
}

.myAuto {
    margin-top: auto;
    margin-bottom: auto;
}

.mxAuto {
    margin-left: auto;
    margin-right: auto;
}

.mxPx {
    margin-left: var(--unit_px);
    margin-right: var(--unit_px);
}

.mlPx {
    margin-left: var(--unit_px);
}

.cursive {
    font-style: italic;
}

.weight700 {
    font-weight: 700;
}

.sizeXl {
    font-size: calc(var(--unit_px) * 2);
}

.sizeL {
    font-size: calc(var(--unit_px) * 1.5);
}
/* end of do not touch */

/* ToDo */
/*  */

/* else */
.headlines {
    width: 100%;
    color: var(--tertiary);
}

.userProfile {
    width: 100%;
    border: 3px solid var(--tertiary);
    border-radius: calc(var(--unit_px) * 0.5);
    font-size: calc(var(--unit_px) * 1.5);
}

.bio {
    width: 100%;
    border: 3px solid var(--tertiary);
    border-radius: var(--unit_px);
    font-size: calc(var(--unit_px) * 1.25);
}

.dataEntry {
    font-weight: 500;
}

.userButton {
    background: var(--hover);
    border: none;
    border-radius: var(--unit_px);
}

.wrapper {
    max-width: 1200px;
}

.userBig {
    font-size: calc(var(--unit_px) * 2);
    font-weight: 500;
}

.usernameBig {
    font-size: calc(var(--unit_px) * 2.5);
    font-weight: 700;
}

.button {
    display: inline-block;
    text-decoration: none;
    color: var(--tertiary);
    background-color: var(--primary);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.datacard {
    min-width: 206px;
    font-size: calc(var(--unit_px) * 1.25);
}

.devider {
    width: 100%;
    height: 2px;
    background-color: var(--tertiary);
}

.dataHead {
    font-weight: 700;
}

.error {
    color: #dc032d;
}

.heroicon {
    height: calc(var(--unit_px) * 1.5);
    width: calc(var(--unit_px) * 1.5);
}

#logo {
    width: 150px;
    height: 75px;
    object-fit: cover;
}

#bioImage {
    width: 200px;
    height: 200px;
    border-radius: 9999px;
    border: 3px solid var(--tertiary);
    object-fit: cover;
}

#bioImageSmall {
    width: 100px;
    height: 100px;
    border-radius: 9999px;
    border: 1px solid var(--tertiary);
    object-fit: cover;
}