header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #30353c;
  border-radius: 5px;
  padding: 1%;
  margin: 1%;
  margin-left: 7.5%;
  margin-right: 7.5%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1%;
  margin: 1%;
  margin-left: 7.5%;
  margin-right: 7.5%;
}

a {
  color: #ff6060;
}

a:hover {
  color: #ff0000;
  text-decoration: underline;
}

hr {
  width: 99%;
  border-top: 1px solid white;
}

.Blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #383c44;
  padding: 1%;
  padding-left: 5%;
  padding-right: 3%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  border-radius: 5px;
}

.Date {
  display: flex;
  justify-content: right;
}